<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxkm.management.office.offices.record.dao.RecordDao">
    <sql id="columns">id,rec_office_id,reg_count,ope_count,rec_cycle,rec_starting_date,
        createUserId,createDate,updateUserId,updateDate,deleteFlag</sql>

    <resultMap id="RecordMap" type="java.util.HashMap">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="rec_office_id" property="rec_office_id" jdbcType="VARCHAR"/>
        <result column="reg_count" property="reg_count" jdbcType="VARCHAR"/>
        <result column="ope_count" property="ope_count" jdbcType="VARCHAR"/>
    </resultMap>

    <!--获取分页 -->
    <select id="listRecord" parameterType="string" resultType="com.xxkm.management.office.offices.record.entity.Record">
        select
        <include refid="columns"></include>
        from xxk_offices_record where deleteFlag='0' ORDER BY createDate desc limit #{0},#{1};
    </select>

    <select id="getRecordByOffices" parameterType="string" resultMap="RecordMap">
        select id,rec_office_id,reg_count,ope_count
        from xxk_offices_record where rec_office_id=#{0} and rec_starting_date=#{1} and deleteFlag='0';
    </select>


    <!--添加信息 -->
    <insert id="addRecord" parameterType="com.xxkm.management.office.offices.record.entity.Record">
        insert into xxk_offices_record(<include refid="columns"></include>) values(
        #{id},#{rec_office_id},#{reg_count},#{ope_count},#{rec_cycle},#{rec_starting_date},
        #{createUserId},#{createDate},#{updateUserId},#{updateDate},#{deleteFlag});
    </insert>

    <!-- -->
    <update id="plusRegCount" parameterType="com.xxkm.management.office.offices.record.entity.Record">
        update xxk_offices_record set reg_count=reg_count+1,updateUserId=#{updateUserId},updateDate=#{updateDate}
         where rec_office_id=#{rec_office_id} and rec_starting_date=#{rec_starting_date} and deleteFlag='0';
    </update>

    <!-- -->
    <update id="plusOpeCount" parameterType="com.xxkm.management.office.offices.record.entity.Record">
        update xxk_offices_record set ope_count=ope_count+1,updateUserId=#{updateUserId},updateDate=#{updateDate}
         where rec_office_id=#{rec_office_id} and rec_starting_date=#{rec_starting_date} and deleteFlag='0';
    </update>

    <!--批量修改（批量逻辑删除） -->
    <!--以下的批量方法只能删除数据表的一样数据-->
    <update id="deleteOperation" parameterType="java.util.List">
        UPDATE xxk_operation SET deleteFlag ='1' WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>