<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxkm.management.material.dao.MaterialDao">
    <sql id="columns">id,dev_class_id,mat_name,mat_ident,mat_type,mat_type_ident,single_unit,genre_tags,mat_flag,
                isStock,stock_office,remark,keyWord,createUserId,createDate,updateUserId,updateDate,deleteFlag</sql>

    <resultMap id="materialSelectMap" type="java.util.HashMap">
        <id column="dev_class_id" property="dev_class_id" jdbcType="VARCHAR"/>
        <result column="id" property="value" jdbcType="VARCHAR"/>
        <result column="mat_type" property="text" jdbcType="VARCHAR"/>
        <result column="single_unit" property="single_unit" jdbcType="VARCHAR"/>

    </resultMap>

    <resultMap id="materialStoreMap" type="java.util.HashMap">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="mat_name" property="entity_name" jdbcType="VARCHAR"/>
        <result column="mat_type" property="entity_type" jdbcType="VARCHAR"/>
    </resultMap>

    <!--获取分页 -->
    <select id="listMaterial" resultType="com.xxkm.management.material.entity.Material">
        select
        <include refid="columns"></include>
        from xxk_material where deleteFlag='0' ORDER BY createDate desc limit #{0},#{1};
    </select>

    <!--获取记录数 -->
    <select id="countMaterial" resultType="java.lang.Integer">
        select count(id) from xxk_material;
    </select>

    <!--根据设备id列表获取设备列表 -->
    <select id="listMaterialById" resultType="com.xxkm.management.material.entity.Material" parameterType="java.util.List">
        select
        <include refid="columns"></include>
        from xxk_material
        where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and deleteFlag='0';
    </select>

    <!--根据id获取入库设备的部分信息列表-->
    <select id="getStoreMaterialById" resultMap="materialStoreMap" parameterType="java.util.List">
        select id,mat_name,mat_type
        from xxk_material
        where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and deleteFlag='0';
    </select>

    <!--添加信息 -->
    <insert id="addMaterial" parameterType="com.xxkm.management.material.entity.Material">
        insert into xxk_material(<include refid="columns"></include>) values(
        #{id},#{dev_class_id},#{mat_name},#{mat_ident},#{mat_type},#{mat_type_ident},#{single_unit},
        #{genre_tags},#{mat_flag},#{isStock},#{stock_office},#{remark},#{keyWord},#{createUserId},
        #{createDate},#{updateUserId},#{updateDate},#{deleteFlag});
    </insert>

    <select id="getMaterialSelect" resultMap="materialSelectMap">
        select dev_class_id,id,mat_type,single_unit
        from xxk_material where genre_tags=#{0} and deleteFlag='0';
    </select>

    <select id="getMaterialById" parameterType="string" resultType="com.xxkm.management.material.entity.Material">
        select
        <include refid="columns"></include>
        from xxk_material where id=#{0} and deleteFlag='0';
    </select>

    <!--修改信息 -->
    <update id="updateRegUser" parameterType="com.xxkm.management.user.entity.RegUser">
        update xxk_device set account=#{account},birth=#{birth},sex=#{sex},phone=#{phone},createUnit=#{createUnit},
        QCellCore=#{QCellCore},updateUserId=#{updateUserId},updateDate=#{updateDate} where id=#{id} and deleteFlag='0';
    </update>

    <!--设备数量加 -->
    <update id="plusMaterialNumber" parameterType="int">
        update xxk_material set dev_no=dev_no+#{0} where id=#{1} and deleteFlag='0';
    </update>

    <!--设备数量减 -->
    <update id="minusMaterialNumber" parameterType="int">
        update xxk_material set dev_no=dev_no-#{0} where id=#{1} and dev_no-#{0}>0 and deleteFlag='0';
    </update>

    <!--批量修改（批量逻辑删除） -->
    <!--以下的批量方法只能删除数据表的一样数据-->
    <update id="deleteListRegUser" parameterType="java.util.List">
        UPDATE xxk_reg_user SET deleteFlag ='1' WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>