<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxkm.management.device.dao.DeviceDao">
    <sql id="columns">id,dev_class_id,dev_name,dev_ident,dev_type,dev_type_ident,genre_tags,single_unit,dev_flag,
           isStock,stock_office,remark,keyWord,createUserId,createDate,updateUserId,updateDate,deleteFlag</sql>

    <resultMap id="deviceSelectMap" type="java.util.HashMap">
        <id column="dev_class_id" property="dev_class_id" jdbcType="VARCHAR"/>
        <result column="id" property="value" jdbcType="VARCHAR"/>
        <result column="dev_name" property="dev_name" jdbcType="VARCHAR"/>
        <result column="dev_type" property="text" jdbcType="VARCHAR"/>
        <result column="single_unit" property="single_unit" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="deviceStoreMap" type="java.util.HashMap">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="dev_name" property="entity_name" jdbcType="VARCHAR"/>
        <result column="dev_type" property="entity_type" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="deviceNumberMap" type="java.util.HashMap">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="dev_ident" property="dev_ident" jdbcType="VARCHAR"/>
        <result column="dev_no" property="dev_no" jdbcType="VARCHAR"/>
    </resultMap>

    <!--获取分页 -->
    <select id="listDevice" resultType="com.xxkm.management.device.entity.Device">
        select
        <include refid="columns"></include>
        from xxk_device where deleteFlag='0' ORDER BY createDate desc limit #{0},#{1};
    </select>

    <!--获取记录数 -->
    <select id="countDevice" resultType="java.lang.Integer">
        select count(id) from xxk_device;
    </select>

    <!--根据设备id列表获取设备列表 -->
    <select id="listDeviceById" resultType="com.xxkm.management.device.entity.Device" parameterType="java.util.List">
        select
        <include refid="columns"></include>
        from xxk_device
        where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and deleteFlag='0';
    </select>

    <!--根据id获取入库设备的部分信息列表-->
    <select id="getStoreDeviceById" resultMap="deviceStoreMap" parameterType="java.util.List">
        select id,dev_name,dev_type
        from xxk_device
        where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and deleteFlag='0';
    </select>

    <!--添加用户信息 -->
    <insert id="addDevice" parameterType="com.xxkm.management.device.entity.Device">
        insert into xxk_device(<include refid="columns"></include>) values(
        #{id},#{dev_class_id},#{dev_name},#{dev_ident},#{dev_type},#{dev_type_ident},#{genre_tags},#{single_unit},
        #{dev_flag},#{isStock},#{stock_office},#{remark},#{keyWord},#{createUserId},#{createDate},
        #{updateUserId},#{updateDate},#{deleteFlag});
    </insert>

    <select id="getDeviceSelect" resultMap="deviceSelectMap">
        select dev_class_id,id,dev_name,dev_type,single_unit
        from xxk_device where deleteFlag='0';
    </select>

    <select id="getDeviceByIdent" parameterType="string" resultType="com.xxk.management.device.entity.Device">
        select
        <include refid="columns"></include>
        from xxk_device where dev_ident=#{0} and deleteFlag='0';
    </select>

    <select id="getDeviceById" parameterType="string" resultType="com.xxk.management.device.entity.Device">
        select
        <include refid="columns"></include>
        from xxk_device where id=#{0} and deleteFlag='0';
    </select>

    <!--修改信息 -->
    <update id="updateRegUser" parameterType="com.xxkm.management.user.entity.RegUser">
        update xxk_device set account=#{account},birth=#{birth},sex=#{sex},phone=#{phone},createUnit=#{createUnit},
        QCellCore=#{QCellCore},updateUserId=#{updateUserId},updateDate=#{updateDate} where id=#{id} and deleteFlag='0';
    </update>

    <!--批量修改（批量逻辑删除） -->
    <!--以下的批量方法只能删除数据表的一样数据-->
    <update id="deleteListRegUser" parameterType="java.util.List">
        UPDATE xxk_reg_user SET deleteFlag ='1' WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>