<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxkm.management.device.dao.DeviceClassDao">
    <sql id="columns">id,ent_class,class_ident,class_tab,dev_max,mat_max,class_version,
       createUserId,createDate,updateUserId,updateDate,deleteFlag</sql>

    <resultMap id="deviceClassMap" type="java.util.HashMap">
        <id column="id" property="value" jdbcType="VARCHAR"/>
        <result column="ent_class" property="text" jdbcType="VARCHAR"/>
        <result column="class_ident" property="class_ident" jdbcType="VARCHAR"/>
        <result column="dev_max" property="dev_max" jdbcType="VARCHAR"/>
        <result column="updateDate" property="updateDate" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="materialClassMap" type="java.util.HashMap">
        <id column="id" property="value" jdbcType="VARCHAR"/>
        <result column="ent_class" property="text" jdbcType="VARCHAR"/>
        <result column="class_ident" property="class_ident" jdbcType="VARCHAR"/>
        <result column="mat_max" property="mat_max" jdbcType="VARCHAR"/>
        <result column="updateDate" property="updateDate" jdbcType="VARCHAR"/>
    </resultMap>

    <!--获取分页 -->
    <select id="listDeviceClass" resultType="com.xxkm.management.device.entity.DeviceClass">
        select
        <include refid="columns"></include>
        from xxk_dev_class where deleteFlag='0' ORDER BY createDate desc limit #{0},#{1};
    </select>

    <select id="listAllDeviceName" resultMap="deviceClassMap">
        select id,dev_class,class_ident,type_max,updateDate
        from xxk_dev_class WHERE deleteFlag='0';
    </select>

    <select id="listMaterialOfTab" resultMap="materialClassMap">
        select id,ent_class,class_ident,mat_max,class_version,updateDate
        from xxk_dev_class WHERE class_tab=#{0} and deleteFlag='0';
    </select>

    <select id="listDeviceOfTab" resultMap="deviceClassMap">
         select id,ent_class,class_ident,dev_max,class_version,updateDate
         from xxk_dev_class WHERE class_tab=#{0} and deleteFlag='0';
    </select>

    <insert id="addDeviceClass" parameterType="com.xxkm.management.device.entity.DeviceClass">
        insert into xxk_dev_class(<include refid="columns"></include>) values(
        #{id},#{ent_class},#{class_ident},#{class_tab},#{dev_max},#{mat_max},1,
        #{createUserId},#{createDate},#{updateUserId},#{updateDate},#{deleteFlag});
    </insert>

    <select id="getDeviceClassById" parameterType="string" resultType="com.xxkm.management.device.entity.DeviceClass">
        select
        <include refid="columns"></include>
        from xxk_dev_class where id=#{0} and deleteFlag='0';
    </select>

    <!--修改信息 -->
    <update id="updateDeviceClass" parameterType="com.xxkm.management.device.entity.DeviceClass">
        update xxk_dev_class set dev_class=#{dev_class},dev_max=#{dev_max},type_max=#{type_max},
        updateUserId=#{updateUserId},updateDate=#{updateDate} where id=#{id} and deleteFlag='0';
    </update>

    <!--修改信息 -->
    <update id="updateDevMax" parameterType="com.xxkm.management.device.entity.DeviceClass">
        update xxk_dev_class set dev_max=dev_max+1,updateUserId=#{updateUserId},updateDate=#{updateDate} where id=#{id} and deleteFlag='0';
    </update>

    <!-- -->
    <update id="updateDev_maxMax" parameterType="com.xxkm.management.device.entity.DeviceClass">
        update xxk_dev_class set dev_max=dev_max+1,updateUserId=#{updateUserId},updateDate=#{updateDate},class_version=#{class_version}+1
         where id=#{id} and class_version=#{class_version} and deleteFlag='0';
    </update>

    <!-- -->
    <update id="updateMat_maxMax" parameterType="com.xxkm.management.device.entity.DeviceClass">
        update xxk_dev_class set mat_max=mat_max+1,updateUserId=#{updateUserId},updateDate=#{updateDate},class_version=#{class_version}+1
        where id=#{id} and class_version=#{class_version} and deleteFlag='0';
    </update>

    <!--批量修改（批量逻辑删除） -->
    <!--以下的批量方法只能删除数据表的一样数据-->
    <update id="deleteListRegUser" parameterType="java.util.List">
        UPDATE xxk_reg_user SET deleteFlag ='1' WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>