<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxkm.management.office.depository.dao.DepositoryDao">
    <sql id="columns">id,depository_ident,delivery_id,class_id,entity_id,entity_name,entity_type,depository_type,depository_by,depository_officeId,
                      depository_no,depository_idle_no,depository_unit,depository_proportion,depository_total,depository_idle_total,depository_used_total,
                      depository_total_unit,depository_flag,keyWord,depository_version,createUserId,createDate,updateUserId,updateDate,deleteFlag</sql>

    <!--获取分页 -->
    <select id="listDepository" resultType="com.xxkm.management.office.depository.entity.Depository">
        select
        <include refid="columns"></include>
        from xxk_depository where  deleteFlag='0' and depository_type=#{search_type}
        <if test="class_id!=null and ''!= class_id">
            and class_id = #{class_id}
        </if>
        <if test="entity_id!=null and ''!= entity_id">
            and entity_id = #{entity_id}
        </if>
        <if test="depository_officeId!=null and ''!= depository_officeId and 'a5c7b9f5-1f3c-4308-86e9-148b21416b37'!=depository_officeId">
            and depository_officeId = #{depository_officeId}
        </if>
        ORDER BY createDate desc limit #{pageStart},#{pageSize};
    </select>

    <!--获取记录 -->
    <select id="selectDepositoryWithOfficeEnt" resultType="com.xxkm.management.office.depository.entity.Depository">
        select
        <include refid="columns"></include>
        from xxk_depository where entity_id=#{0} and depository_officeId=#{1} and deleteFlag='0';
    </select>

    <!--获取记录数 -->
    <select id="countDepository" parameterType="string" resultType="java.lang.Integer">
        select count(id) from xxk_depository where depository_type=#{0};
    </select>

    <!--添加信息 --><!--设置版本号为1-->
    <insert id="addDepository" parameterType="com.xxkm.management.office.depository.entity.Depository">
        insert into xxk_depository(<include refid="columns"></include>) values(
        #{id},#{depository_ident},#{delivery_id},#{class_id},#{entity_id},#{entity_name},#{entity_type},#{depository_type},#{depository_by},
        #{depository_officeId},#{depository_no},#{depository_idle_no},#{depository_unit},#{depository_proportion},#{depository_total},
        #{depository_idle_total},0,#{depository_total_unit},#{depository_flag},#{keyWord},1,#{createUserId},#{createDate},
        #{updateUserId},#{updateDate},#{deleteFlag});
    </insert>

    <!--根据id获取信息 -->
    <select id="getDepositoryIdByIdent" parameterType="string" resultType="string">
        select id
        from xxk_depository
        where in_confirmed_ident=#{0}
        and deleteFlag='0';
    </select>

    <!--根据id获取信息 -->
    <select id="getDepositoryById" parameterType="string" resultType="com.xxkm.management.office.depository.entity.Depository">
        select
        <include refid="columns"></include>
        from xxk_depository
        where id=#{0}
        and deleteFlag='0';
    </select>

    <!--根据entity_id获取信息 -->
    <select id="getDepositoryByEntId" parameterType="string" resultType="com.xxkm.management.office.depository.entity.Depository">
        select
        <include refid="columns"></include>
        from xxk_depository
        where entity_id=#{0}
        and deleteFlag='0';
    </select>

    <!--更新操作 回收库存——>只能回收 未使用 的设备！！！ -->
    <update id="recoveryDepository" parameterType="com.xxkm.management.office.depository.entity.Depository">
        update xxk_depository set depository_no=#{depository_no},depository_idle_no=#{depository_idle_no},
        depository_total=depository_total-#{depository_total},depository_idle_total=depository_idle_total-#{depository_idle_total},
        depository_version=depository_version+1,updateUserId=#{updateUserId},updateDate=#{updateDate}
        where id=#{id} and depository_idle_total>=#{depository_total} and depository_version=#{depository_version} and deleteFlag='0';
    </update>

    <!--更新操作 转移记录（注：部署的设备直接转移，未用量不变） -->
    <update id="transferDepositoryForStorage" parameterType="com.xxkm.management.office.storage.entity.OfficesStorage">
        update xxk_depository set depository_no=#{offices_storage_no},depository_idle_no=#{offices_storage_no_2},
        depository_total=depository_total-#{offices_storage_total},depository_used_total=depository_used_total-#{offices_storage_total},
        depository_version=depository_version+1,updateUserId=#{updateUserId},updateDate=#{updateDate}
        where id=#{id} and depository_used_total>=#{offices_storage_total} and deleteFlag='0';
    </update>

    <!--更新操作 回收记录（注：部署的设备回收，未用量不变） -->
    <update id="transferDepositoryForDelivery" parameterType="com.xxkm.management.office.storage.entity.OfficesStorage">
        update xxk_depository set depository_no=#{offices_storage_no},depository_idle_no=#{offices_storage_no_2},
        depository_total=depository_total-#{offices_storage_total},depository_used_total=depository_used_total-#{offices_storage_total},
        depository_version=depository_version+1,updateUserId=#{updateUserId},updateDate=#{updateDate}
        where id=#{stock_or_depository_id} and depository_used_total>=#{offices_storage_total} and deleteFlag='0';
    </update>

    <!--入库更新 多量-->
    <update id="plusDepositoryNo" parameterType="com.xxkm.management.office.depository.entity.Depository">
        update xxk_depository set depository_no=#{depository_no},depository_total=depository_total+#{depository_total},
        depository_idle_no=#{depository_idle_no},depository_idle_total=depository_idle_total+#{depository_idle_total},
        depository_version=depository_version+1,updateUserId=#{updateUserId},updateDate=#{updateDate}
         where id=#{id} and depository_version=#{depository_version} and deleteFlag='0';
    </update>

    <!--作废时间:2021年6月19日 01:33:39 -->
    <!--<update id="reduceDepositoryIdleNo" parameterType="com.xxk.management.office.depository.entity.Depository">
        update xxk_depository set depository_idle_no=#{depository_idle_no},
        depository_idle_total=depository_idle_total-#{depository_idle_total},
        depository_used_total=depository_used_total+#{depository_idle_total},
        depository_version=depository_version+1,updateUserId=#{updateUserId},updateDate=#{updateDate}
        where entity_id=#{entity_id}
         and #{depository_idle_total}>=1
         and #{depository_idle_total}>=depository_idle_total
         and depository_version=#{depository_version}
         and deleteFlag='0';
    </update>-->

    <!--单个设备部署未用减一，已用加一 （部署操作）-->
    <update id="deploymentDeviceWithSingle">
        update xxk_depository set depository_idle_no=depository_idle_no-1,
        depository_idle_total=depository_idle_total-1,
        depository_used_total=depository_used_total+1,
        depository_version=depository_version+1,updateUserId=#{updateUserId},updateDate=#{updateDate}
        where id=#{depository_id}
        and depository_idle_total>=1
        and depository_used_total &lt; depository_total
        and deleteFlag='0';
    </update>

    <!--批量修改（批量逻辑删除） -->
    <!--以下的批量方法只能删除数据表的一样数据-->
    <update id="deleteListRegUser" parameterType="java.util.List">
        UPDATE xxk_reg_user SET deleteFlag ='1' WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>